@import "../assets/colors.scss";

.clients {
  width: 100%;
  background: $black;
  padding: 90px 42px;
}

.clientsTitle {
  color: $white;
  font-size: 34px;
}

.clientsInfo {
  color: $white;
  font-size: 18px;
  margin-top: 32px;
}

.clientsGrid {
  margin-top: 64px;
  text-align: center;
}

@media screen and (max-width: 1256px) {
  .clients {
    padding: 90px 32px;
  }

  .clientsImg {
    height: 66%;
  }
}
