@import "../assets/colors.scss";

.quoteWrapper {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
  background: $black;
  padding: 90px 64px;
  text-align: center;
  height: 100%;
}

.quoteWrapper :hover {
  box-shadow: $shadow;
}

.quoteTitle {
  font-size: 26px;
  font-weight: 400;
  color: $white;
  overflow-wrap: break-word;
}

.quoteAuthor {
  font-size: 18px;
  font-weight: 400;
  color: $white;
  margin-top: 32px;
}

@media screen and (max-width: 1256px) {
  .quoteWrapper {
    padding: 90px 32px;
  }
}
